https://finance.naver.com/marketindex/exchangeList.naver

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'https://finance.naver.com/marketindex/exchangeList.naver'
r = requests.get(url).text
soup = BeautifulSoup(r, 'lxml')
name = []
price = []

data = soup.select('td.tit > a')
# print(data)
for item in data:
    # print(item.string.strip())
    name.append(item.string.strip())

data = soup.select('td.sale')
# print(data)
for item in data:
    # print(item.string)
    price.append(float(item.string.replace(',','')))
print(len(name), len(price))
items = list(zip(name, price))
print(items)

58 58
[('미국 USD', 1332.0), ('유럽연합 EUR', 1463.67), ('일본 JPY (100엔)', 993.1), ('중국 CNY', 193.08), ('홍콩 HKD', 169.74), ('대만 TWD', 43.47), ('영국 GBP', 1657.61), ('오만 OMR', 3459.47), ('캐나다 CAD', 983.82), ('스위스 CHF', 1492.6), ('스웨덴 SEK', 129.24), ('호주 AUD', 891.44), ('뉴질랜드 NZD', 817.78), ('체코 CZK', 62.31), ('칠레 CLP', 1.66), ('튀르키예 TRY', 68.66), ('몽골 MNT', 0.38), ('이스라엘 ILS', 363.76), ('덴마크 DKK', 196.42), ('노르웨이 NOK', 125.82), ('사우디아라비아 SAR', 355.14), ('쿠웨이트 KWD', 4348.54), ('바레인 BHD', 3533.81), ('아랍에미리트 AED', 362.67), ('요르단 JOD', 1877.64), ('이집트 EGP', 43.11), ('태국 THB', 38.71), ('싱가포르 SGD', 998.24), ('말레이시아 MYR', 300.17), ('인도네시아 IDR 100', 8.99), ('카타르 QAR', 364.44), ('카자흐스탄 KZT', 2.93), ('브루나이 BND', 998.24), ('인도 INR', 16.23), ('파키스탄 PKR', 4.7), ('방글라데시 BDT', 12.55), ('필리핀 PHP', 23.84), ('멕시코 MXN', 74.02), ('브라질 BRL', 263.8), ('베트남 VND 100', 5.67), ('남아프리카 공화국 ZAR', 73.66), ('러시아 RUB', 16.35), ('헝가리 HUF', 3.89), ('폴란드 PLN', 317.29), ('스리랑카 LKR', 4.16), ('알제리 DZD', 9.83), ('케냐 KES', 9.84), ('콜롬비아 COP', 0.29), ('탄자니아 TZS', 0.57), ('네팔 NPR', 10.14), ('루마니아 RON', 296.51), ('리비아 LYD', 279.64), ('마카오 MOP', 164.71), ('미얀마 MMK', 0.63), ('에티오피아 ETB', 24.44), ('우즈베키스탄 UZS', 0.12), ('캄보디아 KHR', 0.33), ('피지 FJD', 601.07)]

In [4]:
# dic = { name:value for name, value in zip(a, b) }
dict1 = {name:price for name, price in zip(name, price)}
print(dict1)

{'미국 USD': 1332.0, '유럽연합 EUR': 1463.67, '일본 JPY (100엔)': 993.1, '중국 CNY': 193.08, '홍콩 HKD': 169.74, '대만 TWD': 43.47, '영국 GBP': 1657.61, '오만 OMR': 3459.47, '캐나다 CAD': 983.82, '스위스 CHF': 1492.6, '스웨덴 SEK': 129.24, '호주 AUD': 891.44, '뉴질랜드 NZD': 817.78, '체코 CZK': 62.31, '칠레 CLP': 1.66, '튀르키예 TRY': 68.66, '몽골 MNT': 0.38, '이스라엘 ILS': 363.76, '덴마크 DKK': 196.42, '노르웨이 NOK': 125.82, '사우디아라비아 SAR': 355.14, '쿠웨이트 KWD': 4348.54, '바레인 BHD': 3533.81, '아랍에미리트 AED': 362.67, '요르단 JOD': 1877.64, '이집트 EGP': 43.11, '태국 THB': 38.71, '싱가포르 SGD': 998.24, '말레이시아 MYR': 300.17, '인도네시아 IDR 100': 8.99, '카타르 QAR': 364.44, '카자흐스탄 KZT': 2.93, '브루나이 BND': 998.24, '인도 INR': 16.23, '파키스탄 PKR': 4.7, '방글라데시 BDT': 12.55, '필리핀 PHP': 23.84, '멕시코 MXN': 74.02, '브라질 BRL': 263.8, '베트남 VND 100': 5.67, '남아프리카 공화국 ZAR': 73.66, '러시아 RUB': 16.35, '헝가리 HUF': 3.89, '폴란드 PLN': 317.29, '스리랑카 LKR': 4.16, '알제리 DZD': 9.83, '케냐 KES': 9.84, '콜롬비아 COP': 0.29, '탄자니아 TZS': 0.57, '네팔 NPR': 10.14, '루마니아 RON': 296.51, '리비아 LYD': 279.64, '마카오 MOP': 164.71, '미얀마 MMK': 0.63, '에티오피아 ETB': 24.44, '우즈베키스탄 UZS': 0.12, '캄보디아 KHR': 0.33, '피지 FJD': 601.07}